<link rel="stylesheet" href="style.css">
*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;

}
.container
{
    background-image: url('images/pngtree-rainbow-frame-background-aesthetic-blank-image_1320851.jpg');
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
} 

.navbar
{
    height:12%;
    display:flex;
    align-items: center;
 
}

.logo
{
    width:50px;
    cursor: pointer;
}

nav{
    flex:1;
    text-align: right ;
}

nav ul li 
{
    list-style: none;
    display:inline-block;
    margin-left: 60px;
    text-align: right;
    color: #fff;
    font-size: 13px;
}

.row{
    display:flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h1{
    color:azure;
    font-size: 50px;
}

p{
    color: antiquewhite;
    font-size: 11px;
    line-height: 15px;
}

button{
    width:180px;
    color:black;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius:20px;
    outline: 0ch;
    margin-top: 30px;
}

.card{
    width:200px;
    height:230px;
    display:inline-block;
    border-radius: 10px;
    padding:15px 25px;
    box-sizing:border-box;
    cursor:pointer;
    margin: 10px 15px;
    
    background-position: center;
    background-size: cover;
    transition:  transform 0.5s;

}

.card1
{
    background-image: url(images/image_63.png);
}
.card2
{
    background-image: url(images/image_17.jpg);
}
.card3
{
    background-image: url(images/image_30.jpg);
}
.card4
{
    background-image: url(images/image_56.jpg);
}

.card:hover{
    transform: translateY(-10px);
}